PORT=8004
NODE_ENV=development
DATABASE_URL=postgres://nafis:nafis123@localhost:5432/vero_project
REDIS_URL=redis://localhost:6379
BETTER_AUTH_SECRET=vero_auth_secret_key
CHAT_SERVICE_GRPC_URL=localhost:5005
