PORT=8001
NODE_ENV=development
DATABASE_URL=postgres://user:password@localhost:5432/auth_db
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_API_KEY=your_better_auth_api_key_here
BETTER_AUTH_URL=http://localhost:8001

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
