@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../**/*.{js,ts,jsx,tsx}";
@source "../../../../apps/ui/src/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --border: #e5e5e5;
    --primary: #0a0a0a;
    --primary-foreground: #ffffff;
    --secondary: #f5f5f5;
    --secondary-foreground: #0a0a0a;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --ring: rgba(10, 10, 10, 0.5);
    --muted: #f5f5f5;
    --muted-foreground: #737373;
  }
  
  .dark {
    --background: #000000;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --border: #262626;
    --primary: #ffffff;
    --primary-foreground: #000000;
    --secondary: #171717;
    --secondary-foreground: #fafafa;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --ring: rgba(255, 255, 255, 0.5);
    --muted: #171717;
    --muted-foreground: #a3a3a3;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', system-ui, sans-serif;
  }
}


